@model Kantar.Randstad.GPS.Models.ExcelFileUploadModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Upload your Randstad GPS file here</h1>
    <p class="lead">Through this website, you can upload your Great People of Randstad.</p>
    <p>Before you start, please read the instructions.</p>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Upload your Randstad file</h2>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <p>
                @Html.LabelFor(m => m.ExcelFile)
                <input type="file" name="ExcelFile" id="file" />
                @Html.ValidationMessageFor(m => m.ExcelFile)
            </p>
            <p>
                @Html.LabelFor(m => m.Country)
                @Html.DropDownListFor(m => m.Country, new SelectList(Model.Countries))
            </p>
            <p>
                @Html.LabelFor(m => m.Year)
                @Html.DropDownListFor(m => m.Year, new SelectList(Model.Years))
            </p>
            <input type="submit" value="Upload file" />
        }
    </div>
</div>